p 
{
    background-color: #d1d1e0;
	color: #000000;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
    margin: auto;
    width: 40%;
}
    
nav 
{
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    border:9px ridge;
    padding: 10px;
    background-color: #99ccff;
    }